* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  font-family: sans-serif;
  padding: 40px;
  text-align: center;
  background-color: #f9f9f9;
  color: #111;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.dark {
  background-color: #111;
  color: #f9f9f9;
}

.toggle-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: #3730a3;
}
