body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 2rem;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 1.5rem;
}
p {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
strong {
  color: #007acc;
}
